html{
	box-sizing: border-box;
	overflow: hidden;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	height: 100vh;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;

	perspective: 1px;
	-webkit-perspective: 1px;

}

img{
	width: 100%;
	display: block;
}

.parallax-group{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back{
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
	position: relative;
	top: calc(((100vh - 56.25vw ) / 4) * -2)
}

.front{
	background-color:  #ccc;
	padding: 14em 1em;
	position: relative;
	z-index: 2;
}

.title{
	transform: translateZ(-0.5px) scale(1.5);
	-webkit-transform: translateZ(-0.5px) scale(1.5);
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 60px;

}

@media only screen and (max-device-width: 480px) {  

	img{
		display: none;
	}

	.parallax-group{
		-webkit-transform-style: unset;
		transform-style: unset;
	}

	.title{
		transform: unset;
		-webkit-transform: unset;
		position:unset;
		top: unset;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 90px;
		background-image: url(../img/hbcrucify.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.title p{
		margin: 0;

	}


	header.front{
		padding-top: 10px;
		font-size: 40px;
		text-align: left;
	}

	header.front h2 {
		font-size: 70px;
		text-align: center;
	}


}