html{
	box-sizing: border-box;
	overflow: hidden;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	height: 100vh;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;

	perspective: 1px;
	-webkit-perspective: 1px;

}

img{
	width: 100%;
	display: block;
}

.parallax-group{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.back{
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
	position: relative;
	top: calc(((100vh - 56.25vw ) / 4) * -2)
}

.front{
	background-color:  #ccc;
	padding: 14em 1em;
	position: relative;
	z-index: 2;
}

.title{
	transform: translateZ(-0.5px) scale(1.5);
	-webkit-transform: translateZ(-0.5px) scale(1.5);
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 60px;

}